{% extends 'base.html' %}

{% load ne_filters %}

{% block title %}Controle de Notas de Empenho{% endblock %}

{% block content %}

<div class="p-6">
    <div class="max-w-full overflow-auto bg-white rounded-2xl shadow-md p-6">

        <!-- Cabeçalho, Pesquisar e Adicionar Nota -->
        <div class="mb-4 flex flex-col md:flex-row justify-between gap-4">
            <input id="search" type="text" placeholder="Pesquisar NE ou Responsável..."
                class="border border-gray-300 rounded-lg px-4 py-2 w-full md:w-1/3" />
        </div>

        <!-- Menu da lista das NEs -->
        <table class="min-w-full text-sm text-left border border-gray-300">
            <!-- Campos da lista. -->
            <thead class="bg-gray-200 text-gray-700">
                <tr>
                    <th class="px-4 py-2 border">UG</th>
                    <th class="px-4 py-2 border">PI</th>
                    <th class="px-4 py-2 border">ND</th>
                    <th class="px-4 py-2 border">NE</th>
                    <th class="px-4 py-2 border">DIAS</th>
                    <th class="px-4 py-2 border">A LIQUIDAR</th>
                    <th class="px-4 py-2 border">LIQUIDADO A PAGAR</th>
                    <th class="px-4 py-2 border">TOTAL A PAGAR</th>
                    <th class="px-4 py-2 border">PAGO</th>
                    <th class="px-4 py-2 border">RESPONSÁVEL</th>
                    <th class="px-4 py-2 border">DATA CONTATO</th>
                    <th class="px-4 py-2 border">HISTÓRICO MEDIDAS</th>
                </tr>
            </thead>

            <!-- Informações da lista. -->
            <tbody>
                {% for note_ne in notes_ne %}
                    <form method="POST" action="{% url 'general-list' %}">
                        {% csrf_token %}
                        <tr class="table-line hover:bg-gray-100">
                            <td class="px-4 py-2 border">{{ note_ne.ug }}</td>
                            <td class="px-4 py-2 border">{{ note_ne.pi }}</td>
                            <td class="px-4 py-2 border">{{ note_ne.nd }}</td>
                            <td class="px-4 py-2 border">{{ note_ne.cod_ne }}</td>
                            <td class="px-4 py-2 border">{{ note_ne.dias }}</td>
                            <td class="px-4 py-2 border">{{ note_ne.a_liquidar|brl }}</td>
                            <td class="px-4 py-2 border">{{ note_ne.liquidado_pagar|brl }}</td>
                            <td class="px-4 py-2 border">{{ note_ne.total_pagar|brl }}</td>
                            <td class="px-4 py-2 border">{{ note_ne.pago|brl }}</td>
                            <td class="px-4 py-2 border">{{ note_ne.responsavel }}</td>
                            <td class="px-4 py-2 border">{{ note_ne.data_contato }}</td>

                            <td class="px-2 py-2 border">

                                <!-- Nome do usuario que esta reivindicando -->
                                <input class="hidden" type="text" name="user" value="{{ note_ne.cod_ne }}">

                                <!-- Codigo do NE a ser reivindicado -->
                                <input class="hidden" type="text" name="cod_ne" value="{{ note_ne.cod_ne }}">

                                <button class="bg-blue-600 text-white px-6 py-2 rounded-lg hover:bg-blue-700 toggle-measure"
                                    type="submit">
                                    REIVINDICAR
                                </button>
                            </td>
                        </tr>
                    </form>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}