{% extends 'base.html' %} {% load ne_filters %} {% block title %}
{{note_ne.cod_ne }} {% endblock %} {% block content %}

<div class="pt-4">
  <div class="grid grid-cols-4 space-x-4">
    <!-- Seção 1: Informações da Nota de Empenho -->
    <section class="h-90vh bg-white rounded-2xl shadow">
      <h2 class="text-xl text-gray-700 border-gray-200 border-b-2 p-4">
        Nota de Empenho - Detalhes
      </h2>
      <div
        class="border-gray-200 border-b-2 px-6 py-2 grid grid-cols-2 text-gray-500 text-sm"
      >
        <span class="font-semibold text-gray-700">UNIDADE GESTORA</span> {{ note_ne.ug }}
      </div>
      <div
        class="border-gray-200 border-b-2 px-6 py-2 grid grid-cols-2 text-gray-500 text-sm"
      >
        <span class="font-semibold text-gray-700">PLANO INTERNO</span> {{ note_ne.pi }}
      </div>
      <div
        class="border-gray-200 border-b-2 px-6 py-2 grid grid-cols-2 text-gray-500 text-sm"
      >
        <span class="font-semibold text-gray-700">NATUREZA DA DESPESA</span> {{ note_ne.nd }}
      </div>
      <div
        class="border-gray-200 border-b-2 px-6 py-2 grid grid-cols-2 text-gray-500 text-sm" 
      >
        <span class="font-semibold text-gray-700">NOTA DE EMPENHO</span> {{ note_ne.cod_ne }}
      </div>
      <div
        class="border-gray-200 border-b-2 px-6 py-2 grid grid-cols-2 text-gray-500 text-sm"
      >
        <span class="font-semibold text-gray-700">DIAS</span> {{ note_ne.dias }}
      </div>
      <div
        class="border-gray-200 border-b-2 px-6 py-2 grid grid-cols-2 text-gray-500 text-sm"
      >
        <span class="font-semibold text-gray-700">A LIQUIDAR</span> R$ {{ note_ne.a_liquidar|brl }}
      </div>
      <div
        class="border-gray-200 border-b-2 px-6 py-2 grid grid-cols-2 text-gray-500 text-sm"
      >
        <span class="font-semibold text-gray-700">LIQUIDADO A PAGAR</span> R$ {{ note_ne.liquidado_pagar|brl }}
      </div>
      <div
        class="border-gray-200 border-b-2 px-6 py-2 grid grid-cols-2 text-gray-500 text-sm"
      >
        <span class="font-semibold text-gray-700">TOTAL A PAGAR</span> R$ {{ note_ne.total_pagar|brl }}
      </div>
      <div
        class="border-gray-200 border-b-2 px-6 py-2 grid grid-cols-2 text-gray-500 text-sm"
      >
        <span class="font-semibold text-gray-700">PAGO</span> R$ {{ note_ne.pago|brl }}
      </div>
      <div
        class="border-gray-200 border-b-2 px-6 py-2 grid grid-cols-2 text-gray-500 text-sm"
      >
        <span class="font-semibold text-gray-700">RESPONSÁVEL</span> {{ note_ne.responsavel }}
      </div>
    </section>

    <div class="col-span-3 h-90vh overflow-y-scroll space-y-4">
      <!-- Seção 2: Formulário para nova medida -->
      <section id="action_form" class="bg-white rounded-2xl shadow">
        <button
          onclick="toggleAccordion('section3')"
          class="w-full text-left py-3 px-4 hover:bg-gray-200 font-semibold flex justify-between items-center rounded-2xl"
        >
          <span class="flex justify-between w-full content-center">
            <h2 class="text-xl text-gray-700 p-4">
              Registrar Nova Medida Tomada
            </h2>
          </span>
          <svg
            id="icon-section1"
            class="w-5 h-5 transition-transform duration-300 transform"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            />
          </svg>
        </button>
        <div id="section3" class="hidden">
        <form
          id="form-insert"
          method="POST"
          class="grid grid-cols-1 sm:grid-cols-2 gap-4 text-sm p-4"
        >
          {% csrf_token %}

          <div>
            <label
              for="{{ form.date.id_for_label }}"
              class="block font-medium mb-1"
              >Data</label
            >
            {{ form.date }}
          </div>

          <div>
            <label
              for="{{ form.previ_date.id_for_label }}"
              class="block font-medium mb-1"
              >Previsão de Entrega</label
            >
            {{ form.previ_date }}
          </div>

          <div class="col-span-2">
            <label
              for="{{ form.description.id_for_label }}"
              class="block font-medium mb-1"
              >Medida Tomada</label
            >
            {{ form.description }}
          </div>

          <div class="col-span-2 flex justify-end space-x-2">
              <button
                id="cancel"
                type="button"
                class="bg-red-600 shadow-md text-white px-6 py-2 rounded-lg hover:bg-red-700"
              >
                Cancelar
              </button>
              <button
                type="submit"
                class="bg-blue-800 shadow-md text-white px-6 py-2 rounded-lg hover:bg-blue-700"
              >
                Concluir
              </button>
          </div>
        </form>
        </div>
      </section>

      <!-- Seção 3: Histórico de Medidas -->
      <section class="bg-white rounded-2xl shadow p-6">
        <h2 class="text-xl text-gray-700 pb-4">Histórico de Medidas Tomadas</h2>
        <div class="overflow-auto">              
              {% for action in action_taken %}
              <div class="justify-between m-2 p-2 border-l-4 border-gray-800">
                <div class="grid grid-cols-3 justify-between">
                  <div class="flex flex-col space-y-2">
                    <div class="px-4 flex flex-col">
                      <div class="text-xs text-gray-700">Responsável:</div> 
                      <div class="text-sm">{{ action.responsible }}</div>
                    </div>
                    <div class="px-4 flex flex-col">
                      <div class="text-xs text-gray-700">Data Contato:</div>
                      <div class="text-sm">{{ action.date|br_date }}</div>
                    </div>
                    <div class="px-4 flex flex-col">
                      <div class="text-xs text-gray-700">Previsão Entrega:</div>
                      <div class="text-sm">{{ action.previ_date|br_date }}</div>
                    </div>
                  </div>
                  <div class="flex flex-col col-span-2">
                    <div class="text-xs text-gray-700">Descrição</div>
                    <div class="px-4 py-2 border-l-2 border-gray-200 h-full text-sm">
                      {{ action.description }}
                    </div>
                  </div>
                </div>
              </div>
              {% empty %}
                  Nenhuma medida registrada.
              {% endfor %}
              </div>
        </div>
      </section>
    </div>
  </div>
</div>

<script>
  // Mostrar a ultima medida tomada.
    document.getElementById("cancel").addEventListener("click", () => {
       document.getElementById("form-insert").reset();
       toggleAccordion('section3');
    });
</script>

{% endblock %}
